{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <h1>Здесь будет информация о группах проекта Yatube</h1>
  <h5>Записи сообщества {{ group.title }}</h5>
  <p>{{ group.description }}</p>
  <article>
    {% for p in posts %}
    <ul>
      <li>
        Автор: {{ p.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ p.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ p.text }}</p>   
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
  </article>
</div>
{% endblock %}